{% extends "base.html" %}

 {% block navigation %}
    <!-- Navigation-->
    {% include 'fashionportal/navigation.html' with active_link='fashionportal:photographers' %}
    <!-- end of navigation -->
  {% endblock %} 

{% block content %}
<div class="container">
{% if photographers_posts %}
    {% for photographer in photographers_posts %}
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
       <div class="col-sm-4">
         <div class="panel panel-default">
           <div class="panel-body">
               {% load cropping %}
                <img src="{% cropped_thumbnail photographer.posted_by 'cropping' scale=0.5 %}" class="center-block">
                
           </div>
         </div>
       </div>
       <div class="col-sm-8">
         <div class="panel panel-default">
           <div class="panel-body">
              {{photographer.description}}
           </div>
         </div>
       </div>
        
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
           <div class="panel-body">
           <p><strong>Name: </strong><i>
           {{photographer.posted_by.user.first_name}} 
           {{photographer.posted_by.user.last_name}}
           </i></p>
           <p><strong>Occupation: </strong><i>{{photographer.posted_by.occupation }}</i></p>
           <p><strong>Brand name: </strong><i>{{photographer.posted_by.brand_name}}</i></p>
           <p><strong>Location: </strong><i>{{photographer.posted_by.location}}</i></p>  
           </div>
         </div>
        </div>
        <div class="col-sm-8">
          <div class="panel panel-default">
           <div class="panel-body">
              {% if photographer.photo %}
              <img src="/media/{{photographer.photo.name}}" class="center-block" width="100%">
              {% else %}
              <p></p>
              {% endif %}
              
            </div>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>

  <br>
    <br>
    <hr>
    <br>
    <br>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}





    

